<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script>

  $(document).ready(function(){
    Portfolio.initialize();
  });

</script>


<h1 class="greeting">Portfolio</h1>

<section class="side-links ">
  <a href="#/">Jorge</a>
  <a href="#/projects">Projects</a>
  <a href="#/resume">Resume</a>
  <a href="#/research">Research</a>
  <a href="#/extra">Extra</a>
</section>

<div id="content"></div>