<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script>

  $(document).ready(function(){
    Portfolio.initialize();
  });

</script>


<div id="main">


<h1 class="greeting"></h1>

<section class="side-links ">
  <a href="#/">Jorge</a>
  <a href="#/projects">Projects</a>
  <a href="#/resume">Resume</a>
  <!-- <a href="#/research">Research</a>
  <a href="#/extra">Extra</a> -->
</section>


<div id="content"></div>


<footer class="footer group">

  <small class="footer-copy">
    &copy; 2014 Jorge Rafael Rodriguez. All rights reserved.
  </small>

  <nav class="footer-links">
    <ul class="group">
      <li><a href="http://www.linkedin.com/in/jorgerro"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
      <li><a href="https://github.com/jorgerro/"><i class="fa fa-github"></i> Github</a></li>
    </ul>
  </nav>

</footer>


</div>