<script>

  $(document).ready(function(){
    Portfolio.initialize();
  });

</script>


<h1 class="greeting">Hi, I'm Jorge!</h1>

<section class="side-links ">
  <a href="#/">Home</a>
  <a href="#/projects">Projects</a>
  <a href="#/">Resume</a>
  <a href="#/">Research</a>
  <a href="#/">Other</a>
</section>

<div id="content"></div>