<h3>Many jobs, one man. Jorge Rafael Rodriguez.</h3><br>

<figure class="picture-main">
  <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1.0-9/923408_10151841598612326_795754903_n.jpg">
  <figcaption>
    Mammoth Lakes, CA. Ready to take on the world.
  </figcaption>
</figure>


<p class="summary">
  tl;dr<br>
  <span class="tab">Web</span> developer (and all around cool dude) seeking opportunities in tech. Experience building Rails apps with Javascript and Backbone.js.<br><br>

  <span class="tab">While</span> at university, my focus was on research and making it in academia. I participated in computational research projects in fields ranging from solar seismology to computational biology. After graduating, I gained experience as an instructor in order to be better prepared for a career in academia. Before long, I began exploring web development and became interested in applying my computational skills to a wider range of problems.<br><br>

  <span class="tab">I'm</span> happiest when solving problems and creating something that works well and looks sharp. I also love working with people who are passionate, intelligent, and challenge me to be at the top of my game.<br><br>

  I'm looking forward to building something great with you! :)
</p>



