<h3 class="tagline">Jorge Rafael Rodriguez, web developer.</h3>

<figure class="picture-main">
  <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1.0-9/923408_10151841598612326_795754903_n.jpg">
  <figcaption>
    Mammoth Lakes, CA.
  </figcaption>
</figure>


<section class="summary">
  <strong>tl;dr</strong>
  <p>
    <span class="tab">Web</span> developer (and all around cool dude) seeking opportunities in tech. Experience building Rails apps with Javascript and Backbone.js.
   </p>

  <strong>The Details</strong>
  <p>
	  <span class="tab">While</span> at university, I participated in computational research projects in fields ranging from solar seismology to computational biology. After graduating, I began exploring web development and applying my computational skills to a wider range of problems.
  </p>

  <p>
	  <span class="tab">I'm</span> happiest when solving problems and creating something that works well and looks sharp. I also love working with people who are passionate, intelligent, and challenge me to be at the top of my game.
  </p>

  <p>
  I'm looking forward to building something great with you! :)
  </p>
</section>

