<h3>many jobs, one man.</h3><br>

<figure class="picture-main">
  <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn1/t1.0-9/923408_10151841598612326_795754903_n.jpg">
  <figcaption>
    Being awesome in Mammoth Lakes, CA.
  </figcaption>
</figure>

