<h3>Projects</h3>

<ul class="projects">

	<li class="project">
		<h2>
			<i class="fa fa-globe"></i> treebnb <span class="project-links"><a href="http://www.treebnb.me">Live <i class="fa fa-flash"></i></a> 
				<a href="http://www.github.com/jorgerro/treebnb">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/treebnb_project.png">
		<ul class="project-details">
			<li>An airbnb clone that exclusively features tree houses</li>
      <li>Built using Ruby on Rails and includes a Backbone.js Dashboard feature</li>
			<li>Used custom SQL queries in order to validate room requests</li>
			<li>Added logic to the jQuery UI calendar to check individual dates against the database</li>
			<li>Overwrote parse method in Backbone message model, customized JSON data using Jbuilder</li>
			<li>Hand styled all page views</li>
		</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-rocket"></i> Asteroids <span class="project-links"><a href="http://www.treebnb.me">Live <i class="fa fa-flash"></i></a> 
				<a href="http://www.github.com/jorgerro/treebnb">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/treebnb_project.png">
		<ul class="project-details">
			<li>An airbnb clone that exclusively features tree houses</li>
      <li>Built using Ruby on Rails and includes a Backbone.js Dashboard feature</li>
			<li>Used custom SQL queries in order to validate room requests</li>
			<li>Added logic to the jQuery UI calendar to check individual dates against the database</li>
			<li>Overwrote parse method in Backbone message model, customized JSON data using Jbuilder</li>
			<li>Hand styled all page views</li>
		</ul>
	</li>

	<li>
		

	
	</li>


</ul>