<h3>Projects</h3>

<ul class="projects">

	<li class="project">
		<h2>
			<i class="fa fa-globe"></i> treebnb <span class="project-links"><a href="http://www.treebnb.me">Live <i class="fa fa-flash"></i></a>
				<a href="http://www.github.com/jorgerro/treebnb">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/treebnb_project.png">
		<ul class="project-details">
			<li>An airbnb clone that exclusively features tree houses</li>
      <li>Built using Ruby on Rails and includes a Backbone.js Dashboard feature</li>
			<li>Used custom SQL queries in order to validate room requests</li>
			<li>Added logic to the jQuery UI calendar to check individual dates against the database</li>
			<li>Overwrote parse method in Backbone message model, customized JSON data using Jbuilder</li>
			<li>Hand styled all page views</li>
		</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-rocket"></i> Asteroids <span class="project-links"><a href="http://jorgerro.github.io/asteroids-js/">Live <i class="fa fa-flash"></i></a>
				<a href="https://github.com/jorgerro/asteroids-js">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/asteroids-project.png">
		<ul class="project-details">
			<li>The classic Asteroids game built using HTML5 Canvas and Javascript</li>
      <li>Features Javascript object-oriented design, uses a custom built "inherits" method</li>
      <li>Ship, asteroids and bullets all inherit from a "moving object" class</li>
		</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-trophy"></i> Chess
      <span class="project-links">
				<a href="https://github.com/jorgerro/chess">Source <i class="fa fa-code"></i></a>
      </span>
		</h2>
    <img src="https://s3.amazonaws.com/freebnb_dev/front_page/chess_project.png">
		<ul class="project-details">
      <li>A chess game to be played by two players, run from the command line</li>
      <li>Written in Ruby, featuring advanced use of object orientation and class inheritance</li>
      <li>Board displayed using colorize gem and unicode characters</li>
    </ul>
  </li>

	<li class="project">
		<h2>
			<i class="fa fa-cogs"></i> Ruby on Rail, a lightweight framwork.
      <span class="project-links">
				<a href="https://github.com/jorgerro/rails_lite">Source <i class="fa fa-code"></i></a>
      </span>
		</h2>
    <!-- <img src="https://s3.amazonaws.com/freebnb_dev/front_page/rails_lite-project.png"> -->
		<ul class="project-details">
        <li>A light framework built in the image of Ruby on Rails</li>
        <li>Router uses regular expressions to direct requests through a basic controller</li>
        <li>Uses a WEBRick server to handle session cookies and includes methods to parse parameters</li>
    </ul>
	</li>

</ul>