<h3>Projects</h3>

<ul class="projects">

	<li class="project">
		<h2>
			<i class="fa fa-globe"></i> treebnb <span class="project-links"><a href="http://www.treebnb.me">Live <i class="fa fa-flash"></i></a>
				<a href="http://www.github.com/jorgerro/treebnb">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/treebnb_project.png">
		<ul class="project-details">
      <li>An airbnb clone that exclusively features tree houses.</li>
      <li>Built using Ruby on Rails and includes a Backbone.js Dashboard feature.</li>
      <li>Uses custom SQL queries in order to validate room requests.</li>
      <li>Uses logic with the jQuery UI calendar to check individual dates against the database.</li>
      <li>Overwrites parse method in Backbone message model, customizes JSON using Jbuilder.</li>
      <li>All page views hand-styled.</li>
		</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-cogs"></i> Third Rail, a lightweight framework.
      <span class="project-links">
      		<a href="http://thirdrail.herokuapp.com">Live <i class="fa fa-flash"></i>
			<a href="https://github.com/jorgerro/rails_lite">Source <i class="fa fa-code"></i></a>
      </span>
		</h2>
    <img src="https://s3.amazonaws.com/freebnb_dev/front_page/miniblogger_project.png">
		<ul class="project-details">
            <li>A light framework built after Ruby on Rails.</li>
            <li>Built and deployed a blogging platform using the framework, which can be viewed <a href="http://thirdrail.herokuapp.com">here</a>.</li>
            <li>Uses a custom-built, lightweight version of ActiveRecord that interacts with a Postgres SQL database.</li>
            <li>Router uses regular expressions to direct requests through a basic controller.</li>
            <li>Uses a WEBRick server to handle session cookies and custom methods to parse parameters.</li>
    	</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-rocket"></i> Asteroids <span class="project-links"><a href="http://jorgerro.github.io/asteroids-js/">Live <i class="fa fa-flash"></i></a>
				<a href="https://github.com/jorgerro/asteroids-js">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/asteroids-project.png">
		<ul class="project-details">
      <li>The classic Asteroids game built using HTML5 Canvas and Javascript.</li>
      <li>Features Javascript object-oriented design, uses a custom built "inherits" method.</li>
      <li>Ship, asteroids and bullets all inherit from a "moving object" class.</li>
		</ul>
	</li>

	<li class="project">
		<h2>
			<i class="fa fa-trophy"></i> Chess
      <span class="project-links">
				<a href="https://github.com/jorgerro/chess">Source <i class="fa fa-code"></i></a>
      </span>
		</h2>
    <img src="https://s3.amazonaws.com/freebnb_dev/front_page/chess_project.png">
		<ul class="project-details">
      <li>Command line muti-player chess.</li>
      <li>Keeps code dry and readable with advanced Object-Oriented design patterns.</li>
      <li>Board displayed using colorize gem and unicode characters.</li>
    </ul>
  </li>

  	<li class="project">
		<h2>
			<i class="fa fa-comments"></i> WizChat (In Progress) <span class="project-links"><a href="http://wizchat.meteor.com">Live <i class="fa fa-flash"></i></a>
				<a href="https://github.com/jorgerro/quickchat">Source <i class="fa fa-code"></i></a></span>
		</h2>
		<img src="https://s3.amazonaws.com/freebnb_dev/front_page/wizchat_project.png">
		<ul class="project-details">
	        <li>Simple chat application built using meteor.</li>
	        <li>Uses the Clippy.js Javascript library (just for fun).</li>
	        <li>TODO: Make all connected users visible, develop further interaction with Clippy.js.</li>
		</ul>
	</li>


</ul>