    <div id="page-wrap">

        <img src="https://s3.amazonaws.com/freebnb_dev/front_page/jorge_hi-res.jpg" alt="Jorge Hi Res" id="pic">

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn">Jorge Rafael Rodriguez</h1>

            <p>
                Cell: <span class="tel">909-241-0111</span><br>
                Email: <a class="email" href="mailto:jorger.rodriguez1@gmail.com">jorger.rodriguez1@gmail.com</a><br>
                <!-- Links: -->
                <a href="http://www.linkedin.com/in/jorgerro"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                <a href="https://github.com/jorgerro/"><i class="fa fa-github"></i> Github</a>
                <a href="http://www.jorgerafaelrodriguez.com/"><i class="fa fa-th"></i> Portfolio</a>
            </p>
        </div>

        <div id="objective">
            <p>
                I'm a web developer. Previously, I spent my time doing research and learning to teach.
                Before long, I began exploring the web and applying my computational skills to a wider range of problems.
                I'm happiest when solving problems and creating something that works well and looks sharp.
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Projects</dt>
            <dd>
                <h2><i class="fa fa-globe"></i> treebnb <span><a href="http://www.treebnb.me">Live</a> - <a href="https://github.com/jorgerro/treebnb">Source</a></span></h2>
                <ul>
                    <li>An airbnb clone that exclusively features tree houses.</li>
                    <li>Built using Ruby on Rails and includes a Backbone.js Dashboard feature.</li>
                    <li>Uses custom SQL queries in order to validate room requests.</li>
                    <li>Uses logic with the jQuery UI calendar to check individual dates against the database.</li>
                    <li>Overwrites parse method in Backbone message model, customizes JSON using Jbuilder.</li>
                    <li>All page views hand-styled.</li>
                </ul>

                <h2><i class="fa fa-cogs"></i> Third Rail, a lightweight framework <span><a href="http://thirdrail.herokuapp.com">Live</a> - <a href="https://github.com/jorgerro/rails_lite">Source</a></span></h2>
                <ul>
                    <li>A light framework built after Ruby on Rails.</li>
                    <li>Built and deployed a blogging platform using the framework, which can be viewed <a href="http://thirdrail.herokuapp.com">here</a>.</li>
                    <li>Uses a custom-built, lightweight version of ActiveRecord that interacts with a Postgres SQL database.</li>
                    <li>Router uses regular expressions to direct requests through a basic controller.</li>
                    <li>Uses a WEBRick server to handle session cookies and custom methods to parse parameters.</li>
                </ul>


                <h2><i class="fa fa-rocket"></i> Asteroids <span><a href="http://jorgerro.github.io/asteroids-js">Live</a> - <a href="https://github.com/jorgerro/asteroids-js">Source</a></span></h2>
                <ul>
                    <li>The classic Asteroids game built using HTML5 Canvas and Javascript.</li>
                    <li>Features Javascript object-oriented design, uses a custom built "inherits" method.</li>
                    <li>Ship, asteroids and bullets all inherit from a "moving object" class.</li>
                </ul>

                <h2><i class="fa fa-trophy"></i> Chess <span><a href="https://github.com/jorgerro/chess">Source</a></span></h2>
                <ul>
                    <li>Command line muti-player chess.</li>
                    <li>Keeps code dry and readable with advanced Object-Oriented design patterns.</li>
                    <li>Board displayed using colorize gem and unicode characters.</li>
                </ul>

                <h2><i class="fa fa-comments"></i> WizChat (In Progress) <span><a href="http://wizchat.meteor.com/">Live</a> - <a href="https://github.com/jorgerro/quickchat">Source</a></span></h2>
                <ul>
                    <li>Simple chat application built using meteor.</li>
                    <li>Uses the Clippy.js Javascript library (just for fun).</li>
                    <li>TODO: Make all connected users visible, develop further interaction with Clippy.js.</li>
                </ul>

            </dd>

            <dd class="clear"></dd>

            <dt class="skills">Skills</dt>
            <dd>
                <h2></h2>
                <p>Ruby, Ruby on Rails, SQL, JavaScript, Backbone.js, jQuery, Git, RSpec, HTML, CSS, AJAX, Jbuilder, Pair Programming, Bash, Learning: Meteor</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Experience</dt>
            <dd>
                <h2>USC Dept. of Physics & Astronomy <span>Research Assistant - Los Angeles, CA - 2008-2011</span></h2>
                <ul>
                    <li>Analyzed internal pressure wave data from the Solar and Heliospheric Observatory (SoHO) satellite.</li>
                    <li>Led a team of five student researchers from Fall 2009 to Spring 2010.</li>
                    <li>Discovered a new signature in the correlation between solar pressure wave frequency and solar activity.</li>
                    <li>Paper published in the proceedings of the 273rd International Astronomical Union, August 2010.</li>
                    <li>Presented the work at symposia held at UC Berkeley and CalTech.</li>
                </ul>

                <h2>Rensselaer Polytechnic Institute <span>Research Assistant - Troy, NY - 2010</span></h2>
                <ul>
                    <li>Ran simulations of the interaction between NaCl in solution with a DPPC lipid bilayer cell membrane.</li>
                    <li>Demonstrated a positively charged bilayer effect with high Na+ survival times and bilayer saturation.</li>
                    <li>Paper accepted for publication in "Interdisciplinary Sciences, Computational Life Sciences", Dec. 2011.</li>
                    <li>Self taught in Bash scripting, used to submit jobs to Rensselaer's supercomputing cluster.</li>
                </ul>

                <h2>Claremont High School <span>AVID Tutor - Claremont, CA - 2013</span></h2>
                <ul>
                    <li>Taught upper division math and science to groups of five to ten students.</li>
                    <li>Acted as a mentor and advisor to students interested in attending college.</li>
                </ul>

            </dd>

            <dd class="clear"></dd>

            <dt class="education">Education</dt>
            <dd>
                <h2>University of Southern California <span>Los Angeles, CA - 2007-2011</span></h2>
                <ul>
                  <li><strong>Major:</strong> B.S. Physics, GPA: 3.3</li>
                  <li><strong>Minor:</strong> Jazz Studies</li>
                  <li>Awarded numerous fellowships and grants in recognition of academic excellence.</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

        </dl>

        <div class="clear"></div>

    </div>
