section, div, a, h1, h2, h3, body, figure,
figcaption, dl, dt, dd, ul, li {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}

.group {
  display: block;
  clear: both;
  content: "";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #5a5a5a;
}

a:visited {
  color: #5a5a5a;

}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #5a5a5a;

}

h1 {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 13px;
}

h1.greeting {
  text-align: right ;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

#main {
  margin: 0 auto;
  width: 1030px;
}

section.side-links {
  float: left;
  width: 100px;
  border-right: 1px solid #ccc;
}

section.side-links a {
  float: right;
  display: block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 15px;
  font-weight: bold;
}

#content {
  width: 900px;
  min-height: 600px;
  margin-left: 20px;
  float: left;
}

figure.picture-main {
  overflow: hidden;
  width: 755px;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
