<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">

    <%= yield %>

  </div>


  <footer class="footer group">

    <small class="footer-copy">
      &copy; 2014 Jorge Rafael Rodriguez. All rights reserved.
    </small>

    <nav class="footer-links">
      <ul class="group">
        <li><a href="http://www.linkedin.com/in/jorgerro"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
        <li><a href="https://github.com/jorgerro/"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>

  </footer>

</body>
</html>